body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff3b0;
  margin: 0;
  padding: 0;
  color: #540b0e;
}

header {
  background-color: #335c67;
  color: white;
  padding: 20px;
  text-align: center;
}

.logo img {
  height: 40px;
}

.header-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text img {
  height: 40px;
}

.logo-text {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}


nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff3b0;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #e09f3e;
}

main {
  padding: 20px;
}

section.intro, .form-section, .saved-destinations {
  margin-bottom: 30px;
  background-color: #faedcd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #9e2a2b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e09f3e;
}

footer {
  background-color: #335c67;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
